data/*
!data/data_split_experiences.json
!data/data_split_files.json
!data/annotations/
data/annotations/*
!data/annotations/full/
!data/annotations/qgis/
!data/annotations/label_studio/

models/*
!models/gd_configs/

**/__pycache__